body{
    background-color:rgb(238, 216, 188)
}

h1{
    display:flex;
    justify-content: center;
    padding: 50px;
    font-family:'Lucida Sans Unicode';
    font-style: oblique;
}

button{
    width: 170px;
    height: 40px;
    font-size: 25px;
    position: absolute;
    top: 65%;
    left: 45%; 
}
button:hover {
  transform: scale(1.2);
}