body{
    background-color:rgb(238, 216, 188)
}

h1{
    display:flex;
    justify-content: center;
    padding: 50px;
    font-family:'Lucida Sans Unicode';
    font-style: oblique;
 }

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
} 

button:hover {
  transform: scale(1.2);
}